.login-template h1 {
	text-align: center;
}

th.start {
	width: 5%;
}

td.cur {
	color: red;
}

td.nodes span.label {
	font-size: 90%;
}

.msg-show {
	margin-bottom: 10px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.table .label {
    font-weight: normal;
}

.nodes .label {
    vertical-align: middle;
}